
      <div id="verses" ng-controller="VersesController as verses">
        <h1>{{verses.title}}</h1>
        <div id="chapter-switcher-wrap" chapter-switcher></div>

        <div class="verse" ng-repeat="verse in verses.verses">
          <p>
            <strong>{{verse.chapter}}:{{verse.verse}} &middot; </strong>
            <span class="verse-text">{{verse.text}}</span>
          </p>

          <section class="keywords">
            <div class="leadup">This verse is about...</div>
            <div class="keyword" ng-repeat="association in verse.keyword_associations">
              <span class="value">{{association.keyword.value}} ({{association.count}})</span>
              <div class="keyword-options" keyword-options></div>
            </div>

            <div class="keyword-form-wrap" keyword-form></div>
          </section><!-- keywords -->

        </div><!-- .verse -->

      </div><!-- #verses -->