
      <div id="verses" ng-controller="ProverbsController as proverbs">
        <h1>{{proverbs.title}}</h1>
        <div id="chapter-form-wrap" chapter-form></div>

        <div class="verse" ng-repeat="proverb in proverbs.proverbs">
          <p>
            <strong>{{proverb.verse}} &middot; </strong>
            <span class="verse-text">{{proverb.text}}</span>
          </p>

          <section class="keywords">
            <div class="leadup">This verse is about...</div>
            <div class="keyword" ng-repeat="association in proverb.keyword_associations">
              <span class="value">{{association.keyword.value}} ({{association.count}})</span>
              <div class="keyword-options" keyword-options></div>
            </div>

            <div class="keyword-form-wrap" keyword-form></div>
          </section><!-- keywords -->

        </div><!-- .verse -->

      </div><!-- #verses -->