@import "compass/css3";
@import "compass/css3/border-radius";

$sansSerif: 'Roboto', sans-serif;
$serif: 'Roboto Slab', serif;
$condensed: 'Roboto Condensed', sans-serif;

$verticalSpace: 20px;

/* http://www.colourlovers.com/palette/132637/Odd_but_trendy */
$textColor: #555555;
$bgAccent1: #E0EFF1;

$bgAccent2: #000000;
$textColor2: #dddddd;

$bgAccent3: #680148;
$textColor3: #dddddd;

$errorColor: red;
$validColor: green;