<h1> About this website </h1>

<p>This website is an attempt to have a collection of modern keywords associated with the book of Proverbs. The goal is that someone who is interested in a topic can easily find proverbs that are associated with that topic.</p>

<h2>Caution</h2>
<p><strong>Any contributions to this site should be considered ephemeral.</strong> My intentions are to keep data, but I can't make any promises esepcially at the outset.</p>

<h2>Contact</h2>
If you wish to provide feedback, comments or concerns, you can reach me at &#114;&#105;&#099;&#107;&#121;&#046;&#121;&#098;&#097;&#114;&#114;&#097;&#064;&#121;&#097;&#104;&#111;&#111;&#046;&#099;&#111;&#109;

<p>Oh, and in case you were curious about the default chapter... the default chapter matches the day of the month.</p>

